html {
    box-sizing: border-box;
    min-width: 320px;

}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-style: 400;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    background: rgb(94, 10, 190);
    background: linear-gradient(90deg, rgba(94, 150, 190, 1) 20%, rgba(241, 27, 27, 1) 100%);


}