/* Global styles */

html {
    box-sizing: border-box;
    min-width: 320px;
     
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-style: 400;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    background: rgb(94,102,190);
    background: linear-gradient(90deg, rgba(94,102,190,1) 48%, rgba(241,27,27,1) 100%); 
   
     
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;

}

a {
    text-decoration: none;
    display: inline-block;
    color: #000;
    text-transform: none;

}

/*  Main style */

.password-box {
 max-width: 400px;
 width: 100%;
  
 border:  2px solid #eee;
 position: absolute;
 top: 50%;
 left: calc(50% - 200px)  ;
 padding: 20px;
 box-shadow: 2px 5px 5px #ccc ;

}
.password-header {
    position: relative;
}
.pass-text {
    position: relative;
    font-size: 1.2rem;
    height: 50px;
    background-color: #fff;
    line-height: 1.5rem;
    line-height: 3rem;
    padding: 0 10px;
    border-radius: 5px;
    overflow: auto;
}
.copyBtn {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0 , -50%);
    border: none;
    background-color:#4275f5;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    color: #eee;
    opacity: 0;
    cursor: pointer;
     
}
.password-header:hover .copyBtn {
    opacity: 1;
}


 
.password-body {
  margin-top: 20px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    
}
.password-form {
    display: flex;
    justify-content: space-between;
   margin-top: 5px;  
}
#genBtn {
    margin-top: 20px;
    width: 100%;
    background-color: lightcoral;
    color: #fff;
    font-size: 1.3rem;
    border-style: none;
    border-radius: 5px;
    height: 50px;
    box-shadow: 3px 2px 5px #eee;
    cursor: pointer;
}
#passLen {
    width: 50px;
}