/* Global styles */

html {
    box-sizing: border-box;
    min-width: 320px;
     
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-style: 400;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
     background: rgb(94,102,190);
background: linear-gradient(90deg, rgba(94,102,190,1) 48%, rgba(241,27,27,1) 100%); 
   
     
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;

}

a {
    text-decoration: none;
    display: inline-block;
    color: #000;
    text-transform: none;

}

/*  title style */


.title {
    margin-top: 50px;
    text-align: center;
    font-size: 1.2rem;
    color: #ccc;
   
    
}
.title h2,
.title h3 {
    color: eee;
}
.title-app {
    margin-top: 100px;
    font-size: 1.3rem;
     
    
}
.title-app_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title-app_inner a {
    color: #fff;
}
.title-app_inner a:hover {
    color: #c8a3c9;
}




 
